.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 20px;
    background-color: #ffffff;
}

.cardHeader {
    width: 600px;
    height: 400px;
    background-color: #636161;
    border-radius: 20px 20px 0 0;
}

.cardBody {
    width: 600px;
    padding: 1rem;
}

.mb1 {
    margin-bottom: 1rem;
}

.button {
    background-color: orange;
    color: #ffffff;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}